{
    "version": "0.2.0",
    "configurations": [
        {
            "name": "Run Game",
            "type": "cppvsdbg",
            "request": "launch",
            "program": "${workspaceFolder}/Game/Build/Bin/Debug/<<<NAME>>>.exe",
            "args": [],
            "stopAtEntry": false,
            "cwd": "${workspaceFolder}/Game",
            "environment": [],
            "console": "integratedTerminal",
            "preLaunchTask": "Build Game"
        }
    ]
}
